.terraform.lock.hcl
terraform.tfstate
terraform.tfstate.backup
.terraform/providers/registry.terraform.io/hashicorp/kubernetes/3.3.0/linux_amd64/LICENSE.txt
.terraform/providers/registry.terraform.io/hashicorp/kubernetes/3.3.0/linux_amd64/terraform-provider-kubernetes_v3.3.0_x5
